<div class="container">
    <h1> Atualizando ordem de serviço</h1>
    <div class="labels">

        <mat-form-field appearance="fill">
            <mat-label>Selecione um técnico:</mat-label>
            <mat-select [(value)]="os.tecnico">
                <mat-option *ngFor=" let tec of tecnicos " value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecione um Cliente:</mat-label>
            <mat-select [(value)]="os.cliente">
                <mat-option *ngFor=" let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecione um Status:</mat-label>
            <mat-select [(value)]="os.status">
                <mat-option value="0">ABERTO</mat-option>
                <mat-option value="1">EM ANDAMENTO</mat-option>
                <mat-option value="2">FECHADO</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecione uma Prioridade:</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0">BAIXA</mat-option>
                <mat-option value="1">MEDIA</mat-option>
                <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <form class=" form">


        <mat-form-field class=" full-width" appearance="fill">
            <mat-label>Observações</mat-label>
            <textarea [(ngModel)]="os.observacoes" name="observacoes" matInput maxlength="255"></textarea>
        </mat-form-field>
    </form>
    <button (click)="update()" class="mat-elevation-z10" mat-flat-button color="accent">Atualizar</button>
    <button (click)="cancel()" class="mat-elevation-z10" mat-flat-button color="warn">Cancelar</button>


</div>